@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
     margin: 0em;
     padding: 0em;
     /* text-align: center; */
 }
 html,body {
    display: block; 
    /* height: 100%;
    width: 100%; */
    background-color: rgba(140, 155, 175, 0.753);
    background-image: url('../pics/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
 }
blockquote {
    padding: 2rem;
    background-color: rgba(72, 99, 128, 0.6);
    border-radius: 8%;
    width: 20rem;
    height: 5rem;
}
blockquote p {
    padding: 1rem;
    background: rgb(64, 90, 94);
    border-radius: 2rem;
}
blockquote p::before {
    content: '\201C';
}
blockquote p::after {
    content: '\201D';
}
#banner {
    display: block;
    padding: 3rem;
    background-color: rgb(89, 117, 109);
    color: #fff;
    height: 180px;
}
#mbtitle {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
}
#mbpic {
    border-radius: 50%;
    opacity: 0.8;
    height: 10rem;
    width: auto;
}
#formart {
    display: flex;
    justify-content: left;
    /* width: 100%; */
    background-color: rgba(175, 191, 212, 0.6);
    background-size: cover;
    border: solid rgb(50, 79, 95) 0.1em;
}
#formart>div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
}
#cv {
    display: flex;
    flex-direction: row;
    width:10%;
}
#works {
    display: flex;
    /* flex-direction: row; */
    width: 20%;
}
#cv>div {
    color: rgba(20, 45, 71, 0.884);
    display: flex;
    flex-wrap: wrap;
    line-height: 1.1rem;
    font-size: 1.1rem;
    padding: 1.5rem;
    text-align: justify
}
#bib {
    color: rgba(20, 45, 71, 0.884);
    width: 90%;
    padding: 1.5rem;
    text-align: justify;
}
#art {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-top: 1rem;
}
#works>h2 {
    color: rgba(20, 45, 71, 0.884);
    text-align: center;
}
.art1 {
    text-align: center;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
    width: 80%;
    height: auto;
    padding: 1rem;
}
/* #art>img  {
    display: table-column;
    justify-content: space-between;
} */
#footer {
    background-color: rgb(89, 117, 109);
    color: #fff;
}
#footer ul {
    list-style: none;
}
#footer>ul {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
#footer>ul>li {
    margin: 1rem;
    padding: 2rem;
    border-right: #fff solid .1rem;
}



@media screen and (max-width: 640px) {
    #banner img {
        display: none;
    }
    section div {
        display: block;
    }
}
